html {
	overflow-y:scroll;
}

body{
	margin:0;
	font-family:"Hiragino Kaku Gothic ProN";
}

.a{
	text-decoration:none;
}

header{
	height:65px;
	width:100%;
	background-color:rgba(34, 49, 52, 0.9);
	position:fixed;
	top:0;
	z-index:10;
}

.container{
	width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper{
	padding:150px 0 80px 0;
	background-image: url("header.jpg");
	background-size: cover;
	color: black;
	text-align: center;
	}


.top-wrapper h1{
	opacity:1.0;
	font-size:60px;
	letter-spacing:5px;
	color:white;
	!background-color:black;
	display:inline;
}

.top-wrapper h2{
	opacity:1.0;
	font-size:45px;
	letter-spacing:5px;
	!background-color:white;
	display:inline-block;
}

.top-wrapper p{
	color:white;
}


.btn{
	padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn-wrapper{
	margin:20px 0;
}

.btn-wrapper p{
	margin:10px 0;
}

.signup{
	background-color:#239b76;
}

.facebook{
	background-color:#3b5998;
	margin-right:10px;
}
.twitter{
	background-color:#55acee;
}

.banner-wrapper{
	width: 100px:
	height: 150px;
	display:inline-block;
	text-align:center;
	height:65px;
	width:100%;
	background-color:black;
}

.banner-main{
	text-align:center;
	display:inline-block;
	float:center;
	margin:0 auto;
	color:white;
	font-size:30px;
}

.go-home{
	float:left;
}

.about-me{
	float:left;
}

.system-list{
	float:left;
}

.contact{
	float:left;
}

.logo{
	width: 124px;
  margin-top: 20px;
}

.header-left{
	float:left;
}

.header-right{
	float:right;
	background-color:rgba(255, 255, 255, 0.3);
}

.header-right a{
	line-height:65px;
	padding:0 25px;
	color:blue;
	display:block;
}

.contents-wrapper{
	height:500px;
	padding-bottom:80px;
	background-color:#ffffff;
	text-align:center;
}

.heading{
	padding-top:60px;
	padding-bottom:30px;
	color:blue;
}

.heading h2{
	font-weight:normal;
}

.system{
	float:left;
	width:25%;
}

.system-icon{
	position:relative;
	padding-left:10px;
}

.system-icon p{
	<!--position: absolute;!>
}

.txt-contents{
	width:80%;
	display:inline-block;
	margin-top:20px;
	font-size:12px;
	color:#b3aeb5;
}

.message{
	background-color:#5dca88;
	padding:15px 40px;
	box-shadow:0 7px #1a7940;
	background-color:rgba(0, 255, 0, 1.0);
}

.heading h3{
	font-weight:normal;
}

.massage-wrapper{
	border-bottom:1px solid #eee;
	padding-bottom:80px;
	text-align:center;
}

.footer{
	padding:30px;
	background-image: url("./pic/footer.jpg");
	background-size: cover;
}

.footer img{
	width: 125px;
}

.footer p{
	font-size:30px;
	color:#b3aeb5;

}

.aboutme{
	float:left;
}

.about-main{
	float:left;
}

.about-img{
	float:right;
	width:3px;
	height:5px;
	padding:10px 20px;
}

